@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
}
/* * {
  border: 1px solid white;
} */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.animate-spin-custom {
  animation: spin 3.5s linear infinite;
}
